<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Não encontrato</title>
</head>
<body>
    <hgroup>
        <h1>Não foi encontrato o perfil indicado!</h1>
    </hgroup>
</body>
</html>